.imageWithMaxWidth1 {
  max-width: 49.5rem;
}

.imageWithMaxWidth2 {
  max-width: 45.563rem;
}

.imageWithMaxWidth3 {
  max-width: 45.563rem;
}

.imageWithMaxWidth4 {
  max-width: 47.125rem;
}

.imageWithMaxWidth5 {
  max-width: 75rem;
}
